components/node-red/node-red-flows/deprecated_(fake)-sensors.flow
[{"id":"199c7382.bee4cc","type":"inject","z":"b723e7f5.c9565","name":"","topic":"","payload":"","payloadType":"date","repeat":"0.5","crontab":"","once":false,"x":110,"y":40,"wires":[["c7bdbb57.bf8d38"]]},{"id":"cfb1790a.4f3da","type":"http request","z":"b723e7f5.c9565","name":"POST to O-MI node","method":"POST","ret":"txt","url":"http://localhost:8080","tls":"","x":1100,"y":200,"wires":[[]]},{"id":"5ac85484.26b424","type":"function","z":"b723e7f5.c9565","name":"O-MI/O-DF message for Left_Zone/Tree_1","func":"let value = msg.payload;\n\nmsg.payload = `<omiEnvelope xmlns=\"http://www.opengroup.org/xsd/omi/1.0/\" version=\"1.0\" ttl=\"0\">\n              <write msgformat=\"odf\">\n                <msg>\n                  <Objects xmlns=\"http://www.opengroup.org/xsd/odf/1.0/\">\n                    <Object>\n                      <id>Rue_Garibaldi_mock-up</id>\n                      <Object>\n                        <id>Left_Zone</id>\n                        <Object>\n                          <id>Tree_1</id>\n                          <InfoItem name=\"Temperature\">\n                            <value>{PLACEHOLDER}</value>\n                          </InfoItem>\n                        </Object>\n                      </Object>\n                    </Object>\n                  </Objects>\n                </msg>\n              </write>\n            </omiEnvelope>`;\n            \n            \nmsg.payload = msg.payload.replace(/{PLACEHOLDER}/g, value);\n\n\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":140,"wires":[["cfb1790a.4f3da"]]},{"id":"c37066e7.ba6e18","type":"function","z":"b723e7f5.c9565","name":"(Fake) Value Generator","func":"let phenomenonPeriod = flow.get('phenomenonPeriod');\n\nlet ts = msg.payload / 1000;\n\nmsg.payload = Math.sin( 2.0 * Math.PI * ts / phenomenonPeriod ) + 0.25*Math.random();\n  \nreturn msg;","outputs":1,"noerr":0,"x":470,"y":140,"wires":[["5ac85484.26b424"]]},{"id":"60807288.ad817c","type":"function","z":"b723e7f5.c9565","name":"O-MI/O-DF message for Right_Zone/Tree_1","func":"let value = msg.payload;\n\nmsg.payload = `<omiEnvelope xmlns=\"http://www.opengroup.org/xsd/omi/1.0/\" version=\"1.0\" ttl=\"0\">\n              <write msgformat=\"odf\">\n                <msg>\n                  <Objects xmlns=\"http://www.opengroup.org/xsd/odf/1.0/\">\n                    <Object>\n                      <id>Rue_Garibaldi_mock-up</id>\n                      <Object>\n                        <id>Right_Zone</id>\n                        <Object>\n                          <id>Tree_1</id>\n                          <InfoItem name=\"Temperature\">\n                            <value>{PLACEHOLDER}</value>\n                          </InfoItem>\n                        </Object>\n                      </Object>\n                    </Object>\n                  </Objects>\n                </msg>\n              </write>\n            </omiEnvelope>`;\n            \n            \nmsg.payload = msg.payload.replace(/{PLACEHOLDER}/g, value);\n\n\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":260,"wires":[["cfb1790a.4f3da"]]},{"id":"57e0881b.31d28","type":"function","z":"b723e7f5.c9565","name":"(Fake) Value Generator","func":"let phenomenonPeriod = flow.get('phenomenonPeriod');\n\n// ts = (new Date()).getTime() / 1000;\nlet ts = msg.payload / 1000;\n\nmsg.payload = -Math.sin( 2.0 * Math.PI * ts / phenomenonPeriod + Math.PI/8.0) + 0.25*Math.random();\n\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":260,"wires":[["60807288.ad817c"]]},{"id":"c7bdbb57.bf8d38","type":"function","z":"b723e7f5.c9565","name":"Set Global Parameters","func":"flow.set( 'phenomenonPeriod', context.global.moment.duration(30, 'seconds').asSeconds() );\n\nreturn msg;","outputs":1,"noerr":0,"x":200,"y":200,"wires":[["c37066e7.ba6e18","57e0881b.31d28"]]},{"id":"e0e57bd9.e6cf9","type":"inject","z":"b723e7f5.c9565","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":100,"y":100,"wires":[["c7bdbb57.bf8d38"]]}]
