components/node-red/node-red-flows/deprecated_actuator(s).flow
[{"id":"e7821116.eced08","type":"tab","label":"Actuator(s)"},{"id":"c9b662d9.79ac58","type":"http in","z":"e7821116.eced08","name":"/valves/1","url":"/valves/1","method":"post","swaggerDoc":"","x":220,"y":360,"wires":[["2e1c42e3.058c2e","e1e2574e.0b9128"]]},{"id":"2e1c42e3.058c2e","type":"function","z":"e7821116.eced08","name":"Parse Left Sector Valve Status","func":"cheerio = global.get('cheerio');\nvar $ = cheerio.load(msg.payload.msg);\n\nlet value = $('InfoItem[name=Status] value').text();\n\nmsg.payload = value;\n\nreturn msg;","outputs":"1","noerr":0,"x":454,"y":400,"wires":[["686d320b.f8b15c","7778af4d.70b61"]]},{"id":"e1e2574e.0b9128","type":"http response","z":"e7821116.eced08","name":"ACK","x":372,"y":314,"wires":[]},{"id":"6e69f839.987cf8","type":"debug","z":"e7821116.eced08","name":"Left Sector","active":true,"console":"false","complete":"payload","x":630,"y":280,"wires":[]},{"id":"e914985.e5e17e8","type":"serial out","z":"e7821116.eced08","name":"Arduino","serial":"7636b940.2f8428","x":976,"y":436,"wires":[]},{"id":"9b31a01.93caee","type":"delay","z":"e7821116.eced08","name":"","pauseType":"delay","timeout":"625","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":816,"y":496,"wires":[["7eda9376.003644"]]},{"id":"c34fad89.21ae1","type":"delay","z":"e7821116.eced08","name":"","pauseType":"delay","timeout":"250","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":996,"y":556,"wires":[[]]},{"id":"ad8a488d.9dd458","type":"serial out","z":"e7821116.eced08","name":"Arduino","serial":"7636b940.2f8428","x":1196,"y":496,"wires":[]},{"id":"8537f01e.635c","type":"serial out","z":"e7821116.eced08","name":"Arduino","serial":"7636b940.2f8428","x":1416,"y":556,"wires":[]},{"id":"686d320b.f8b15c","type":"change","z":"e7821116.eced08","name":"1","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":746,"y":436,"wires":[["e914985.e5e17e8","9b31a01.93caee"]]},{"id":"7eda9376.003644","type":"change","z":"e7821116.eced08","name":"2","rules":[{"t":"set","p":"payload","pt":"msg","to":"2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":966,"y":496,"wires":[["ad8a488d.9dd458","65f7a1b1.0a7c"]]},{"id":"65f7a1b1.0a7c","type":"change","z":"e7821116.eced08","name":"5 || 6","rules":[{"t":"set","p":"payload","pt":"msg","to":"leftValveStatus","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1186,"y":556,"wires":[["8537f01e.635c"]]},{"id":"9ae1ec74.0dd438","type":"serial in","z":"e7821116.eced08","name":"","serial":"7636b940.2f8428","x":230,"y":140,"wires":[["cd1908bf.7f0788"]]},{"id":"cd1908bf.7f0788","type":"debug","z":"e7821116.eced08","name":"","active":true,"console":"false","complete":"false","x":445,"y":140,"wires":[]},{"id":"5fbe1bf5.afc77c","type":"function","z":"e7821116.eced08","name":"set left valve status","func":"flow.set('leftValveStatus', msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1006,"y":356,"wires":[[]]},{"id":"7778af4d.70b61","type":"change","z":"e7821116.eced08","name":"{ON, OFF} to {5, 6}","rules":[{"t":"change","p":"payload","pt":"msg","from":"ON","fromt":"str","to":"5","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"OFF","fromt":"str","to":"6","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":786,"y":356,"wires":[["5fbe1bf5.afc77c"]]},{"id":"4124b135.8d1e8","type":"http in","z":"e7821116.eced08","name":"/valves/2","url":"/valves/2","method":"post","swaggerDoc":"","x":220,"y":720,"wires":[["39cf70f6.2d36d","d3d557d6.c2584"]]},{"id":"39cf70f6.2d36d","type":"function","z":"e7821116.eced08","name":"Parse Right Sector Valve Status","func":"cheerio = global.get('cheerio');\nvar $ = cheerio.load(msg.payload.msg);\n\nlet value = $('InfoItem[name=Status] value').text();\n\nmsg.payload = value;\n\nreturn msg;","outputs":"1","noerr":0,"x":454,"y":760,"wires":[["6d88958f.59d9ac","9f670ca.c50517"]]},{"id":"d3d557d6.c2584","type":"http response","z":"e7821116.eced08","name":"ACK","x":372,"y":674,"wires":[]},{"id":"15087fd6.255ec","type":"debug","z":"e7821116.eced08","name":"Right Sector","active":true,"console":"false","complete":"payload","x":610,"y":660,"wires":[]},{"id":"6c7f1e86.daeef8","type":"serial out","z":"e7821116.eced08","name":"Arduino","serial":"7636b940.2f8428","x":976,"y":796,"wires":[]},{"id":"c3e4d189.680b28","type":"delay","z":"e7821116.eced08","name":"","pauseType":"delay","timeout":"1500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":816,"y":856,"wires":[["478fd79d.40ce6"]]},{"id":"9d5c9515.72447","type":"delay","z":"e7821116.eced08","name":"","pauseType":"delay","timeout":"250","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":996,"y":916,"wires":[[]]},{"id":"e4ff8a5.7187ef8","type":"serial out","z":"e7821116.eced08","name":"Arduino","serial":"7636b940.2f8428","x":1196,"y":856,"wires":[]},{"id":"e9f7be08.b87f3","type":"serial out","z":"e7821116.eced08","name":"Arduino","serial":"7636b940.2f8428","x":1416,"y":916,"wires":[]},{"id":"6d88958f.59d9ac","type":"change","z":"e7821116.eced08","name":"3","rules":[{"t":"set","p":"payload","pt":"msg","to":"3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":746,"y":796,"wires":[["6c7f1e86.daeef8","c3e4d189.680b28"]]},{"id":"478fd79d.40ce6","type":"change","z":"e7821116.eced08","name":"4","rules":[{"t":"set","p":"payload","pt":"msg","to":"4","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":966,"y":856,"wires":[["e4ff8a5.7187ef8","a453af26.aafac"]]},{"id":"a453af26.aafac","type":"change","z":"e7821116.eced08","name":"7 || 8","rules":[{"t":"set","p":"payload","pt":"msg","to":"rightValveStatus","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1186,"y":916,"wires":[["e9f7be08.b87f3"]]},{"id":"6c4700fb.7c13b","type":"function","z":"e7821116.eced08","name":"set right valve status","func":"flow.set('rightValveStatus', msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1020,"y":720,"wires":[[]]},{"id":"9f670ca.c50517","type":"change","z":"e7821116.eced08","name":"{ON, OFF} to {7, 8}","rules":[{"t":"change","p":"payload","pt":"msg","from":"ON","fromt":"str","to":"7","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"OFF","fromt":"str","to":"8","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":720,"wires":[["6c4700fb.7c13b"]]},{"id":"1955bf6f.162719","type":"comment","z":"e7821116.eced08","name":"","info":"125 ms par LED\n\n9 X 125 = 1125 ms\n4 X 125 = 500 ms","x":500,"y":560,"wires":[]},{"id":"7636b940.2f8428","type":"serial-port","z":"","serialport":"/dev/ttyACM0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false}]
