components/node-red/node-red-flows/flows.json
[{"id":"f94aa574.0e39a8","type":"tab","label":"(Fake) Sensors","disabled":false,"info":""},{"id":"424250d5.5bbce","type":"tab","label":"Reasoner","disabled":false,"info":""},{"id":"98ee94f5.59b428","type":"tab","label":"Actuator(s)","disabled":false,"info":""},{"id":"4ccce83e.a009d8","type":"tab","label":"Test","disabled":false,"info":""},{"id":"d703361d.2f06d","type":"serial-port","z":"","serialport":"/dev/ttyACM0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false},{"id":"ad86b5b.2986048","type":"serial-port","z":"","serialport":"/dev/ttyACM0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false},{"id":"e819d140.35f84","type":"inject","z":"f94aa574.0e39a8","name":"","topic":"","payload":"","payloadType":"date","repeat":"2","crontab":"","once":false,"x":170,"y":80,"wires":[["753e3f8.c4502c","5005ae97.f77a3"]]},{"id":"d26fe576.f65ac8","type":"http request","z":"f94aa574.0e39a8","name":"POST to O-MI node","method":"POST","ret":"txt","url":"http://o-mi-node:8080","tls":"","x":1160,"y":240,"wires":[[]]},{"id":"87c374b5.83dfb8","type":"function","z":"f94aa574.0e39a8","name":"O-MI/O-DF message for Left_Zone/Tree_1","func":"let value = msg.payload;\n\nmsg.payload = `<omiEnvelope xmlns=\"http://www.opengroup.org/xsd/omi/1.0/\" version=\"1.0\" ttl=\"0\">\n              <write msgformat=\"odf\">\n                <msg>\n                  <Objects xmlns=\"http://www.opengroup.org/xsd/odf/1.0/\">\n                    <Object>\n                      <id>Rue_Garibaldi_mock-up</id>\n                      <Object>\n                        <id>Left_Zone</id>\n                        <Object>\n                          <id>Tree_1</id>\n                          <InfoItem name=\"Temperature\">\n                            <value>{PLACEHOLDER}</value>\n                          </InfoItem>\n                        </Object>\n                      </Object>\n                    </Object>\n                  </Objects>\n                </msg>\n              </write>\n            </omiEnvelope>`;\n            \n            \nmsg.payload = msg.payload.replace(/{PLACEHOLDER}/g, value);\n\n\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":180,"wires":[["d26fe576.f65ac8"]]},{"id":"eeb93c0a.1065e8","type":"function","z":"f94aa574.0e39a8","name":"(Fake) Value Generator","func":"let phenomenonPeriod = flow.get('phenomenonPeriod');\n\nlet ts = msg.payload / 1000;\n\nmsg.payload = 20.0 + Math.sin( 2.0 * Math.PI * ts / phenomenonPeriod ) + 0.3*(Math.random()-0.5);\n  \nreturn msg;","outputs":1,"noerr":0,"x":530,"y":180,"wires":[["87c374b5.83dfb8"]]},{"id":"ce6a20b9.3a4988","type":"function","z":"f94aa574.0e39a8","name":"O-MI/O-DF message for Right_Zone/Tree_1","func":"let value = msg.payload;\n\nmsg.payload = `<omiEnvelope xmlns=\"http://www.opengroup.org/xsd/omi/1.0/\" version=\"1.0\" ttl=\"0\">\n              <write msgformat=\"odf\">\n                <msg>\n                  <Objects xmlns=\"http://www.opengroup.org/xsd/odf/1.0/\">\n                    <Object>\n                      <id>Rue_Garibaldi_mock-up</id>\n                      <Object>\n                        <id>Right_Zone</id>\n                        <Object>\n                          <id>Tree_1</id>\n                          <InfoItem name=\"Temperature\">\n                            <value>{PLACEHOLDER}</value>\n                          </InfoItem>\n                        </Object>\n                      </Object>\n                    </Object>\n                  </Objects>\n                </msg>\n              </write>\n            </omiEnvelope>`;\n            \n            \nmsg.payload = msg.payload.replace(/{PLACEHOLDER}/g, value);\n\n\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":300,"wires":[["d26fe576.f65ac8"]]},{"id":"fafdf17e.d66","type":"function","z":"f94aa574.0e39a8","name":"(Fake) Value Generator","func":"let phenomenonPeriod = flow.get('phenomenonPeriod');\n\n// ts = (new Date()).getTime() / 1000;\nlet ts = msg.payload / 1000;\n\nmsg.payload = 20.0 + Math.sin( 2.0 * Math.PI * ts / phenomenonPeriod + Math.PI/2.0) + 0.3*(Math.random()-0.5);\n\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":300,"wires":[["ce6a20b9.3a4988"]]},{"id":"753e3f8.c4502c","type":"function","z":"f94aa574.0e39a8","name":"Set Global Parameters","func":"flow.set( 'phenomenonPeriod', context.global.moment.duration(60, 'seconds').asSeconds() );\n\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":240,"wires":[["fafdf17e.d66"]]},{"id":"4ad21632.c22e1","type":"inject","z":"f94aa574.0e39a8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":160,"y":140,"wires":[["753e3f8.c4502c"]]},{"id":"14210bf1.406894","type":"http in","z":"424250d5.5bbce","name":"/trees/1","url":"/trees/1","method":"post","swaggerDoc":"","x":190,"y":160,"wires":[["484d78fe.0f7b8","2a01fbc1.157224","629c9ba5.f8cf6c","471c8e98.e4dfb8"]]},{"id":"484d78fe.0f7b8","type":"function","z":"424250d5.5bbce","name":"Parse Left Sector Data","func":"cheerio = global.get('cheerio');\nvar $ = cheerio.load(msg.payload.msg);\n\nvar value = $('InfoItem[name=Temperature] value').text();\nvalue -= 20.0;\n\nlet data = context.get('data') || [];\n\n\ndata.push( value );\n\nif (data.length > 2) {\n    data.shift();\n}\n\n// node.log(data.length);\n\ncontext.set('data', data);\n\n// node.log(data);\n\nlet upperThreshold = flow.get('upperThreshold');\nlet lowerThreshold = flow.get('lowerThreshold');\n\nmsg.payload = null;\n\nif ( data[0] < upperThreshold & data[1] > upperThreshold ) {\n    msg.payload = \"ON\";\n}\n\nif ( data[0] > lowerThreshold & data[1] < lowerThreshold ) {\n    msg.payload = \"OFF\";\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":160,"wires":[["2355892f.bb08fe"]]},{"id":"2a01fbc1.157224","type":"http response","z":"424250d5.5bbce","name":"ACK","x":350,"y":100,"wires":[]},{"id":"629c9ba5.f8cf6c","type":"function","z":"424250d5.5bbce","name":"Set Global Parameters","func":"flow.set('upperThreshold',  0.5);\nflow.set('lowerThreshold', -0.5);\n\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":280,"wires":[[]]},{"id":"16e2a3de.5347dc","type":"function","z":"424250d5.5bbce","name":"O-MI/O-DF message for Left_Zone/Valve_1","func":"let value = msg.payload;\n\nmsg.payload = `<omiEnvelope xmlns=\"http://www.opengroup.org/xsd/omi/1.0/\" version=\"1.0\" ttl=\"0\">\n              <write msgformat=\"odf\">\n                <msg>\n                  <Objects xmlns=\"http://www.opengroup.org/xsd/odf/1.0/\">\n                    <Object>\n                      <id>Rue_Garibaldi_mock-up</id>\n                      <Object>\n                        <id>Left_Zone</id>\n                        <Object>\n                          <id>Valve_1</id>\n                          <InfoItem name=\"Status\">\n                            <value>{PLACEHOLDER}</value>\n                          </InfoItem>\n                        </Object>\n                      </Object>\n                    </Object>\n                  </Objects>\n                </msg>\n              </write>\n            </omiEnvelope>`;\n            \n            \nmsg.payload = msg.payload.replace(/{PLACEHOLDER}/g, value);\n\n\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":160,"wires":[["cb628d92.41a0a8"]]},{"id":"2355892f.bb08fe","type":"switch","z":"424250d5.5bbce","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","outputs":1,"x":610,"y":160,"wires":[["16e2a3de.5347dc"]]},{"id":"17092144.4be807","type":"http in","z":"424250d5.5bbce","name":"/trees/2","url":"/trees/2","method":"post","swaggerDoc":"","x":190,"y":420,"wires":[["495f5b16.5a2f64","17722559.3d2dab","629c9ba5.f8cf6c","16a554ef.589ddb"]]},{"id":"495f5b16.5a2f64","type":"function","z":"424250d5.5bbce","name":"Parse Right Sector Data","func":"cheerio = global.get('cheerio');\nvar $ = cheerio.load(msg.payload.msg);\n\nvar value = $('InfoItem[name=Temperature] value').text();\nvalue -= 20.0;\n\nlet data = context.get('data') || [];\n\n\ndata.push( value );\n\nif (data.length > 2) {\n    data.shift();\n}\n\n// node.log(data.length);\n\ncontext.set('data', data);\n\n// node.log(data);\n\nlet upperThreshold = flow.get('upperThreshold');\nlet lowerThreshold = flow.get('lowerThreshold');\n\nmsg.payload = null;\n\nif ( data[0] < upperThreshold & data[1] > upperThreshold ) {\n    msg.payload = \"ON\";\n}\n\nif ( data[0] > lowerThreshold & data[1] < lowerThreshold ) {\n    msg.payload = \"OFF\";\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":420,"wires":[["ba53a042.5ea4b8"]]},{"id":"17722559.3d2dab","type":"http response","z":"424250d5.5bbce","name":"ACK","x":350,"y":480,"wires":[]},{"id":"4fd4527e.8ec964","type":"function","z":"424250d5.5bbce","name":"O-MI/O-DF message for Right_Zone/Valve_1","func":"let value = msg.payload;\n\nmsg.payload = `<omiEnvelope xmlns=\"http://www.opengroup.org/xsd/omi/1.0/\" version=\"1.0\" ttl=\"0\">\n              <write msgformat=\"odf\">\n                <msg>\n                  <Objects xmlns=\"http://www.opengroup.org/xsd/odf/1.0/\">\n                    <Object>\n                      <id>Rue_Garibaldi_mock-up</id>\n                      <Object>\n                        <id>Right_Zone</id>\n                        <Object>\n                          <id>Valve_1</id>\n                          <InfoItem name=\"Status\">\n                            <value>{PLACEHOLDER}</value>\n                          </InfoItem>\n                        </Object>\n                      </Object>\n                    </Object>\n                  </Objects>\n                </msg>\n              </write>\n            </omiEnvelope>`;\n            \n            \nmsg.payload = msg.payload.replace(/{PLACEHOLDER}/g, value);\n\n\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":420,"wires":[["cb628d92.41a0a8"]]},{"id":"cb628d92.41a0a8","type":"http request","z":"424250d5.5bbce","name":"POST to O-MI node","method":"POST","ret":"txt","url":"http://o-mi-node:8080","tls":"","x":1180,"y":280,"wires":[[]]},{"id":"ba53a042.5ea4b8","type":"switch","z":"424250d5.5bbce","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","outputs":1,"x":610,"y":420,"wires":[["4fd4527e.8ec964"]]},{"id":"6182d250.bb792c","type":"http in","z":"98ee94f5.59b428","name":"/valves/1","url":"/valves/1","method":"post","swaggerDoc":"","x":160,"y":340,"wires":[["81f01c36.cdc1a","f8ff0e00.ef84f"]]},{"id":"81f01c36.cdc1a","type":"function","z":"98ee94f5.59b428","name":"Parse Left Sector Valve Status","func":"cheerio = global.get('cheerio');\nvar $ = cheerio.load(msg.payload.msg);\n\nlet value = $('InfoItem[name=Status] value').text();\n\nmsg.payload = value;\n\nreturn msg;","outputs":"1","noerr":0,"x":394,"y":380,"wires":[["bcb5d280.a6b0b8","f0f9b6d4.0b22b8"]]},{"id":"f8ff0e00.ef84f","type":"http response","z":"98ee94f5.59b428","name":"ACK","x":312,"y":294,"wires":[]},{"id":"64324193.c1e57","type":"serial out","z":"98ee94f5.59b428","name":"Arduino","serial":"d703361d.2f06d","x":916,"y":416,"wires":[]},{"id":"1f2b4c32.f0b32c","type":"delay","z":"98ee94f5.59b428","name":"","pauseType":"delay","timeout":"625","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":756,"y":476,"wires":[["4a88d06a.c1b618"]]},{"id":"caf43dad.6fb87","type":"serial out","z":"98ee94f5.59b428","name":"Arduino","serial":"d703361d.2f06d","x":1136,"y":476,"wires":[]},{"id":"b2d0b680.57cc6","type":"serial out","z":"98ee94f5.59b428","name":"Arduino","serial":"d703361d.2f06d","x":1356,"y":536,"wires":[]},{"id":"bcb5d280.a6b0b8","type":"change","z":"98ee94f5.59b428","name":"1","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":686,"y":416,"wires":[["64324193.c1e57","1f2b4c32.f0b32c"]]},{"id":"4a88d06a.c1b618","type":"change","z":"98ee94f5.59b428","name":"2","rules":[{"t":"set","p":"payload","pt":"msg","to":"2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":906,"y":476,"wires":[["caf43dad.6fb87","4df761e5.ccb72"]]},{"id":"4df761e5.ccb72","type":"change","z":"98ee94f5.59b428","name":"5 || 6","rules":[{"t":"set","p":"payload","pt":"msg","to":"leftValveStatus","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1126,"y":536,"wires":[["b2d0b680.57cc6"]]},{"id":"57642ee6.29044","type":"function","z":"98ee94f5.59b428","name":"Set Left Valve Status","func":"flow.set('leftValveStatus', msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":956,"y":336,"wires":[[]]},{"id":"f0f9b6d4.0b22b8","type":"change","z":"98ee94f5.59b428","name":"{ON, OFF} to {5, 6}","rules":[{"t":"change","p":"payload","pt":"msg","from":"ON","fromt":"str","to":"5","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"OFF","fromt":"str","to":"6","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":726,"y":336,"wires":[["57642ee6.29044"]]},{"id":"2e94a813.5522d8","type":"http in","z":"98ee94f5.59b428","name":"/valves/2","url":"/valves/2","method":"post","swaggerDoc":"","x":160,"y":700,"wires":[["8f443f3e.8eb76","57407ca9.581da4"]]},{"id":"8f443f3e.8eb76","type":"function","z":"98ee94f5.59b428","name":"Parse Right Sector Valve Status","func":"cheerio = global.get('cheerio');\nvar $ = cheerio.load(msg.payload.msg);\n\nlet value = $('InfoItem[name=Status] value').text();\n\nmsg.payload = value;\n\nreturn msg;","outputs":"1","noerr":0,"x":394,"y":740,"wires":[["db2d36d0.29fe7","99786e32.07c07"]]},{"id":"57407ca9.581da4","type":"http response","z":"98ee94f5.59b428","name":"ACK","x":312,"y":654,"wires":[]},{"id":"aaeb69ed.0065d","type":"serial out","z":"98ee94f5.59b428","name":"Arduino","serial":"d703361d.2f06d","x":916,"y":776,"wires":[]},{"id":"9aa69d57.ab7f68","type":"delay","z":"98ee94f5.59b428","name":"","pauseType":"delay","timeout":"1500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":756,"y":836,"wires":[["8320b530.17a9a"]]},{"id":"f27b662f.b757d","type":"serial out","z":"98ee94f5.59b428","name":"Arduino","serial":"d703361d.2f06d","x":1136,"y":836,"wires":[]},{"id":"f68fb742.27fdb8","type":"serial out","z":"98ee94f5.59b428","name":"Arduino","serial":"d703361d.2f06d","x":1356,"y":896,"wires":[]},{"id":"db2d36d0.29fe7","type":"change","z":"98ee94f5.59b428","name":"3","rules":[{"t":"set","p":"payload","pt":"msg","to":"3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":686,"y":776,"wires":[["aaeb69ed.0065d","9aa69d57.ab7f68"]]},{"id":"8320b530.17a9a","type":"change","z":"98ee94f5.59b428","name":"4","rules":[{"t":"set","p":"payload","pt":"msg","to":"4","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":906,"y":836,"wires":[["f27b662f.b757d","41809bf0.7c3044"]]},{"id":"41809bf0.7c3044","type":"change","z":"98ee94f5.59b428","name":"7 || 8","rules":[{"t":"set","p":"payload","pt":"msg","to":"rightValveStatus","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1126,"y":896,"wires":[["f68fb742.27fdb8"]]},{"id":"25329dd4.466c52","type":"function","z":"98ee94f5.59b428","name":"Set Right Valve Status","func":"flow.set('rightValveStatus', msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":960,"y":700,"wires":[[]]},{"id":"99786e32.07c07","type":"change","z":"98ee94f5.59b428","name":"{ON, OFF} to {7, 8}","rules":[{"t":"change","p":"payload","pt":"msg","from":"ON","fromt":"str","to":"7","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"OFF","fromt":"str","to":"8","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":700,"wires":[["25329dd4.466c52"]]},{"id":"998a4a91.fc4ab8","type":"inject","z":"4ccce83e.a009d8","name":"Data Zone 1 ON","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"x":240,"y":120,"wires":[["a8c44b13.69a36"]]},{"id":"1c5b106a.484ab","type":"inject","z":"4ccce83e.a009d8","name":"Data Zone 1 OFF","topic":"","payload":"2","payloadType":"str","repeat":"","crontab":"","once":false,"x":206,"y":229,"wires":[["a8c44b13.69a36"]]},{"id":"a8c44b13.69a36","type":"serial out","z":"4ccce83e.a009d8","name":"Arduino","serial":"ad86b5b.2986048","x":441.5,"y":151,"wires":[]},{"id":"c60dc978.79f248","type":"inject","z":"4ccce83e.a009d8","name":"Data Zone 2 ON","topic":"","payload":"3","payloadType":"str","repeat":"","crontab":"","once":false,"x":240,"y":314,"wires":[["a8c44b13.69a36"]]},{"id":"a5d45cb6.4f82e","type":"inject","z":"4ccce83e.a009d8","name":"Data Zone 2 OFF","topic":"","payload":"4","payloadType":"str","repeat":"","crontab":"","once":false,"x":302,"y":362,"wires":[["a8c44b13.69a36"]]},{"id":"94804a7d.a23c48","type":"inject","z":"4ccce83e.a009d8","name":"Zone 1 ON","topic":"","payload":"5","payloadType":"str","repeat":"","crontab":"","once":false,"x":400,"y":415,"wires":[["a8c44b13.69a36"]]},{"id":"4bc0483d.e9cd38","type":"inject","z":"4ccce83e.a009d8","name":"Zone 1 OFF","topic":"","payload":"6","payloadType":"str","repeat":"","crontab":"","once":false,"x":462,"y":463,"wires":[["a8c44b13.69a36"]]},{"id":"e80e9653.8a53b8","type":"inject","z":"4ccce83e.a009d8","name":"Zone 2 ON","topic":"","payload":"7","payloadType":"str","repeat":"","crontab":"","once":false,"x":614,"y":286,"wires":[["a8c44b13.69a36"]]},{"id":"b3717c6a.fe5378","type":"inject","z":"4ccce83e.a009d8","name":"Zone 2 OFF","topic":"","payload":"8","payloadType":"str","repeat":"","crontab":"","once":false,"x":654,"y":342,"wires":[["a8c44b13.69a36"]]},{"id":"14dc014b.68e017","type":"serial in","z":"4ccce83e.a009d8","name":"","serial":"ad86b5b.2986048","x":657,"y":94,"wires":[["91a2bb7a.9dd58"]]},{"id":"91a2bb7a.9dd58","type":"debug","z":"4ccce83e.a009d8","name":"","active":true,"console":"false","complete":"false","x":857,"y":94,"wires":[]},{"id":"e81333.4644ccd","type":"trigger","z":"4ccce83e.a009d8","op1":"1","op2":"2","op1type":"str","op2type":"str","duration":"2","extend":false,"units":"s","reset":"","name":"","x":527,"y":574,"wires":[["a8c44b13.69a36"]]},{"id":"2a71d2c1.b545a6","type":"inject","z":"4ccce83e.a009d8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":347,"y":574,"wires":[["e81333.4644ccd"]]},{"id":"471c8e98.e4dfb8","type":"function","z":"424250d5.5bbce","name":"O-MI/O-DF message for Left_Zone/Index_1","func":"cheerio = global.get('cheerio');\nvar $ = cheerio.load(msg.payload.msg);\n\nvar value = $('InfoItem[name=Temperature] value').text();\nvalue -= 20.0;\n\nmsg.payload = `<omiEnvelope xmlns=\"http://www.opengroup.org/xsd/omi/1.0/\" version=\"1.0\" ttl=\"0\">\n              <write msgformat=\"odf\">\n                <msg>\n                  <Objects xmlns=\"http://www.opengroup.org/xsd/odf/1.0/\">\n                    <Object>\n                      <id>Rue_Garibaldi_mock-up</id>\n                      <Object>\n                        <id>Left_Zone</id>\n                        <Object>\n                          <id>Index_1</id>\n                          <InfoItem name=\"Value\">\n                            <value>{PLACEHOLDER}</value>\n                          </InfoItem>\n                        </Object>\n                      </Object>\n                    </Object>\n                  </Objects>\n                </msg>\n              </write>\n            </omiEnvelope>`;\n            \n            \nmsg.payload = msg.payload.replace(/{PLACEHOLDER}/g, value);\n\n\nreturn msg;","outputs":1,"noerr":0,"x":880,"y":100,"wires":[["cb628d92.41a0a8"]]},{"id":"16a554ef.589ddb","type":"function","z":"424250d5.5bbce","name":"O-MI/O-DF message for Right_Zone/Index_1","func":"cheerio = global.get('cheerio');\nvar $ = cheerio.load(msg.payload.msg);\n\nlet value = $('InfoItem[name=Temperature] value').text();\nvalue -= 20.0;\n\nmsg.payload = `<omiEnvelope xmlns=\"http://www.opengroup.org/xsd/omi/1.0/\" version=\"1.0\" ttl=\"0\">\n              <write msgformat=\"odf\">\n                <msg>\n                  <Objects xmlns=\"http://www.opengroup.org/xsd/odf/1.0/\">\n                    <Object>\n                      <id>Rue_Garibaldi_mock-up</id>\n                      <Object>\n                        <id>Right_Zone</id>\n                        <Object>\n                          <id>Index_1</id>\n                          <InfoItem name=\"Value\">\n                            <value>{PLACEHOLDER}</value>\n                          </InfoItem>\n                        </Object>\n                      </Object>\n                    </Object>\n                  </Objects>\n                </msg>\n              </write>\n            </omiEnvelope>`;\n            \n            \nmsg.payload = msg.payload.replace(/{PLACEHOLDER}/g, value);\n\n\nreturn msg;","outputs":1,"noerr":0,"x":880,"y":480,"wires":[["cb628d92.41a0a8"]]},{"id":"5005ae97.f77a3","type":"delay","z":"f94aa574.0e39a8","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":340,"y":180,"wires":[["eeb93c0a.1065e8"]]}]