node-red-flows/reasoner.flow
[{"id":"219bc494.b432bc","type":"tab","label":"Reasoner"},{"id":"72932f38.b1258","type":"http in","z":"219bc494.b432bc","name":"/trees/1","url":"/trees/1","method":"post","swaggerDoc":"","x":90,"y":140,"wires":[["22265c55.4521d4","50c09863.c5dd3","20d04cc3.d5ff44"]]},{"id":"22265c55.4521d4","type":"function","z":"219bc494.b432bc","name":"Parse Left Sector Data","func":"cheerio = global.get('cheerio');\nvar $ = cheerio.load(msg.payload.msg);\n\nlet value = $('InfoItem[name=Temperature] value').text();\n\nlet data = context.get('data') || [];\n\n\ndata.push( value );\n\nif (data.length > 2) {\n    data.shift();\n}\n\n// node.log(data.length);\n\ncontext.set('data', data);\n\n// node.log(data);\n\nlet upperThreshold = flow.get('upperThreshold');\nlet lowerThreshold = flow.get('lowerThreshold');\n\nmsg.payload = null;\n\nif ( data[0] < upperThreshold & data[1] > upperThreshold ) {\n    msg.payload = \"ON\";\n}\n\nif ( data[0] > lowerThreshold & data[1] < lowerThreshold ) {\n    msg.payload = \"OFF\";\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":140,"wires":[["ad2a089e.e79c78"]]},{"id":"50c09863.c5dd3","type":"http response","z":"219bc494.b432bc","name":"ACK","x":250,"y":80,"wires":[]},{"id":"20d04cc3.d5ff44","type":"function","z":"219bc494.b432bc","name":"Set Global Parameters","func":"flow.set('upperThreshold',  0.5);\nflow.set('lowerThreshold', -0.5);\n\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":260,"wires":[[]]},{"id":"71f9ea0c.5009c4","type":"function","z":"219bc494.b432bc","name":"O-MI/O-DF message for Left_Zone/Valve_1","func":"let value = msg.payload;\n\nmsg.payload = `<omiEnvelope xmlns=\"http://www.opengroup.org/xsd/omi/1.0/\" version=\"1.0\" ttl=\"0\">\n              <write msgformat=\"odf\">\n                <msg>\n                  <Objects xmlns=\"http://www.opengroup.org/xsd/odf/1.0/\">\n                    <Object>\n                      <id>Rue_Garibaldi_mock-up</id>\n                      <Object>\n                        <id>Left_Zone</id>\n                        <Object>\n                          <id>Valve_1</id>\n                          <InfoItem name=\"Status\">\n                            <value>{PLACEHOLDER}</value>\n                          </InfoItem>\n                        </Object>\n                      </Object>\n                    </Object>\n                  </Objects>\n                </msg>\n              </write>\n            </omiEnvelope>`;\n            \n            \nmsg.payload = msg.payload.replace(/{PLACEHOLDER}/g, value);\n\n\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":140,"wires":[["1e1bf9aa.918926"]]},{"id":"ad2a089e.e79c78","type":"switch","z":"219bc494.b432bc","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","outputs":1,"x":510,"y":140,"wires":[["71f9ea0c.5009c4"]]},{"id":"e7a95ad5.e567f","type":"http in","z":"219bc494.b432bc","name":"/trees/2","url":"/trees/2","method":"post","swaggerDoc":"","x":90,"y":400,"wires":[["f12db25c.60e25","b321f89e.335b68","20d04cc3.d5ff44"]]},{"id":"f12db25c.60e25","type":"function","z":"219bc494.b432bc","name":"Parse Right Sector Data","func":"cheerio = global.get('cheerio');\nvar $ = cheerio.load(msg.payload.msg);\n\nlet value = $('InfoItem[name=Temperature] value').text();\n\nlet data = context.get('data') || [];\n\n\ndata.push( value );\n\nif (data.length > 2) {\n    data.shift();\n}\n\n// node.log(data.length);\n\ncontext.set('data', data);\n\n// node.log(data);\n\nlet upperThreshold = flow.get('upperThreshold');\nlet lowerThreshold = flow.get('lowerThreshold');\n\nmsg.payload = null;\n\nif ( data[0] < upperThreshold & data[1] > upperThreshold ) {\n    msg.payload = \"ON\";\n}\n\nif ( data[0] > lowerThreshold & data[1] < lowerThreshold ) {\n    msg.payload = \"OFF\";\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":400,"wires":[["d9129ec7.db756"]]},{"id":"b321f89e.335b68","type":"http response","z":"219bc494.b432bc","name":"ACK","x":250,"y":340,"wires":[]},{"id":"c86b5107.611028","type":"function","z":"219bc494.b432bc","name":"O-MI/O-DF message for Right_Zone/Valve_1","func":"let value = msg.payload;\n\nmsg.payload = `<omiEnvelope xmlns=\"http://www.opengroup.org/xsd/omi/1.0/\" version=\"1.0\" ttl=\"0\">\n              <write msgformat=\"odf\">\n                <msg>\n                  <Objects xmlns=\"http://www.opengroup.org/xsd/odf/1.0/\">\n                    <Object>\n                      <id>Rue_Garibaldi_mock-up</id>\n                      <Object>\n                        <id>Right_Zone</id>\n                        <Object>\n                          <id>Valve_1</id>\n                          <InfoItem name=\"Status\">\n                            <value>{PLACEHOLDER}</value>\n                          </InfoItem>\n                        </Object>\n                      </Object>\n                    </Object>\n                  </Objects>\n                </msg>\n              </write>\n            </omiEnvelope>`;\n            \n            \nmsg.payload = msg.payload.replace(/{PLACEHOLDER}/g, value);\n\n\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":400,"wires":[["1e1bf9aa.918926"]]},{"id":"1e1bf9aa.918926","type":"http request","z":"219bc494.b432bc","name":"POST to O-MI node","method":"POST","ret":"txt","url":"http://localhost:8080","tls":"","x":1080,"y":260,"wires":[[]]},{"id":"d9129ec7.db756","type":"switch","z":"219bc494.b432bc","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","outputs":1,"x":510,"y":400,"wires":[["c86b5107.611028"]]}]
